@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src:
    url("fonts/webfonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("fonts/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@theme {
  --vazir: "Vazirmatn";
}
@layer base {
  body {
    font-family: var(--vazir);
  }
}
body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
